# Compiled Object files
*.slo
*.lo
*.o
*.asp

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# SQL/visual studio prefs crap
*.sdf
*.opensdf
*.suo

# Folders that most likely have build junk in them.
DELETE
[Dd]ebug
[Rr]elease
[Bb]in
[Bb]inary